

  .dyno-display-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width:1100px;
    height:600px;
    background-color: #000000;
    .exit {}
    .title{}
    .tech-stack {}
    .description{}
    a {
      .github-url{}
      .deployed-url {}
    }
  }