

  .dyno-display-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: #afeff7;
    top: 100px;
    color: #555555;
    a {
      text-decoration: none;
      color:#f578ef;
      &:hover {
        color:#f303ba;
        // background-color: #f7eff7;
      }
    }
    .exit {
      display: flex;
      justify-self: right;
      padding: 10px;
      margin: 10px;
      background-color: #333333;
      border: solid 0px;  
      border-radius: 3px;
      color: #ffeff7;
      transition:all 500ms;
      &:hover {
        padding:10px 20px; 
        color:#ffffff;
        background-color: darken(#333333, 20%);
      }
    }
    .title{
      font-size: 1.3em;
    }
    .tech-stack {}
    .description{}
    a {
      .github-url{}
      .deployed-url {}
    }
  }